Data Scientist at an e-commerce store
Predict User Actions on the site
Direct Monetary Impact
    predict bounce
    discover areas of the site that are weak
    Mobile/user friendliness
    Make Data Driven Decisions
    Use Science to improve user experience

In [66]:
import pandas as pd
import numpy as np
import math

In [11]:
data = pd.read_csv(r'/Users/prof/Documents/machine_learning_examples/ann_logistic_extra/ecommerce_data.csv')
data

,is_mobile,n_products_viewed,visit_duration,is_returning_visitor,time_of_day,user_action
0,1,0,0.657510,0,3,0
1,1,1,0.568571,0,2,1
2,1,0,0.042246,1,1,0
3,1,1,1.659793,1,1,2
4,0,1,2.014745,1,1,2
...,...,...,...,...,...,...
495,1,3,0.731594,0,0,2
496,0,0,6.368775,1,3,0
497,0,0,0.172853,1,3,0
498,1,0,0.209964,0,3,0
499,0,0,2.616882,1,3,0

is_mobile - is user visiting site on a mobile device
n_products_viewed - number of products user viewed during their session
visit_duration - Length of time in minutes user was on the site
is_returning_Visitor - 0 if new user, 1 if returning user
time_of_day - encoded, 0 = 12am to 6am, 1 = 6 am 12pm, 2 = 12pm to 6pm, 3 = 6pm to 12am
user_action - bounce, add_to_cart, begin_checkout, finish_checkout

# Feedforward Example one subject two inputs

In [35]:
X = [[0,3.5],[1,2],[1,0.5]] #Data
Y = [1,1,0] #Actual Response
W = [[0.5,0.1,-0.3],[0.7, -0.3, 0.2]] #Weights
Wt = np.transpose(W)
b = [0.4, 0.1, 0]
v = [0.8, 0.1, -0.1]
c = 0.2

In [53]:
activation_Z1 = np.dot(Wt,X[0])
activation_Z2 = np.dot(Wt,X[1])
activation_Z3 = np.dot(Wt,X[2])

In [64]:
a1 = activation_Z1[0]+b[0]
a2 = activation_Z1[1]+b[1]
a3 = activation_Z1[2]+b[2]

In [68]:
def tanh(value):
    z = (math.exp(value) - math.exp(-value)) / (math.exp(value) + math.exp(-value))
    return z

In [72]:
def sigm(value1, value2, value3):
    zvalues = [value1, value2, value3]
    inner = np.dot([z1,z2,z3], v) + c
    sigmoid = 1 / (1+math.exp(-inner))
    return sigmoid

In [70]:
z1 = tanh(a1)
z2 = tanh(a2)
z3 = tanh(a3)

0.9933303853851733

In [73]:
sigm(z1,z2,z3)

0.6962839449025289

# Feedforward Multi Samples

In [76]:
Wt

array([[ 0.5,  0.7],
       [ 0.1, -0.3],
       [-0.3,  0.2]])

In [78]:
X

[[0, 3.5], [1, 2], [1, 0.5]]

In [79]:
np.dot(X,W)

array([[ 2.45, -1.05,  0.7 ],
       [ 1.9 , -0.5 ,  0.1 ],
       [ 0.85, -0.05, -0.2 ]])

array([ 2.45, -1.05,  0.7 ])